[submodule "themes/bootstratp-bp-hugo-startpage"]
	path = themes/bootstratp-bp-hugo-startpage
	url = https://github.com/spech66/bootstrap-bp-hugo-startpage
[submodule "themes/ace-documentation"]
	path = themes/ace-documentation
	url = https://github.com/vantagedesign/ace-documentation
